/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.menu-item {
  background:none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 28px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}
.menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}
.menu-item:hover {
  color: #999;
}
.menu-item:focus {
  font-weight: bold;
}
.menu-item.menu-title {
  color: #888;
  font-size: 14px;
  padding-left: 16px;
  border-radius: 0;
  text-align: left;
  text-transform: uppercase;
  transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}
.menu-item.menu-title:hover,
.menu-item.menu-title.active {
  color: #1976d2;
}

.menu-icon {
  background: none;
  border: none;
}
#studies{
        background-color: #64B5F6;
    color:#fff; 
}
#studies:hover,#studies.active, #studies:focus{
    background-color: #42A5F5;
}
#works{
        background-color: #81C784;
    color:#fff; 
}
#works:hover,#works.active, #works:focus{
    background-color: #66BB6A;
}
#skills{
        background-color: #FFB74D;
    color:#fff; 
}
#skills:hover,#skills.active, #skills:focus{
    background-color: #FFA726;
}
#misc{
    background-color: #E57373;
    color:#fff; 
}
#misc:hover,#misc.active, #misc:focus{
    background-color: #EF5350;
}