
<div class="md-toolbar-tools" flex layout="column">
    <div flex></div>
        <section layout="row" layout-align="right">
            <md-button ng-click="showInfos($event)" class="md-fab" >
                    <md-icon icon="img/svg/flags/france.svg"></md-icon>
                </md-button>
        </section>
    <section layout="row" layout-align="right">
            <md-button ng-click="showInfos($event)" class="md-fab"  aria-label="Info">
                    <md-icon icon="bower_components/material-design-icons/action/svg/production/ic_info_outline_24px.svg" style="width: 24px; height: 40px;"></md-icon>
                </md-button>
            </section>
    
</div>

