<md-toolbar class="md-blue-theme">
        <h1 class="md-toolbar-tools">Sidenav</h1>
      </md-toolbar>
      <md-content flex>
          <div>
            <md-button class="md-menu-item" style="width:100%;text-align: left;padding: 16px;" >
              Demos
            </md-button>
              <md-button class="md-menu-item" style="width:100%;text-align: left;padding: 16px;" >
              Demos
            </md-button>
              <md-button class="md-menu-item" style="width:100%;text-align: left;padding: 16px;" >
              Demos
            </md-button>
          </div>
</md-content>
