<md-toolbar md-theme-watch="true" >
    <h1 class="md-toolbar-tools" flex="" layout="column" data-i18n="Florent Gadé" ng-click="goHome()" style="cursor: pointer">
    </h1>
      </md-toolbar>
      <md-content flex>
          <div layout="column">
            <md-button id="studies" href="#/studies" class="menu-item menu-title md-menu-item" data-i18n="Studies">
            </md-button>
              <md-button id="works" href="#/works" class="menu-item menu-title md-menu-item" data-i18n="Works">
            </md-button>
              <md-button id="skills" href="#/skills" class="menu-item menu-title md-menu-item" data-i18n="Skills">
            </md-button>
            <md-button id="misc" href="#/misc" class="menu-item menu-title md-menu-item" data-i18n="Miscellaneous">
            </md-button>
          </div>
</md-content>
